body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

p{
    text-align:justify;
    line-height:200%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#row-section {
    margin: 70px;
}

#greyArea {
    padding: 70px;
    /*background-image: url("images/small_images/ask.jpg");*/
    display: table;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/small_images/ask.jpg');
    background-position: center top;
    color: white;
}

.button-row {
    margin: 20px;
}

/*Floating images*/
.banner-holder {
    position: relative;
    display: block;
}

.plus-image {
    left: 7%;
    top: 70%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

#motivationalText {
    background: green;
    overflow: hidden;
    color: white;
    font-family: Open sans;
}

/* Hidden DIV elements */

#secretDiv {
    display: none;
}