@{
    ViewBag.Title = "ABOUT US";
}
<h2><span style="font-family: Spoiler; font-size: 30px;">@ViewBag.Title.</span></h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Train to Trade is founded by <b>Dr Taurayi Sihamba</b> a financial analyst with depth knowledge in financial markets. Dr Sihamba has a <b>Phd Degree in Economics</b> (financial markets) and has 10 years experience in forex and stock trading. A financial market is a market in which people trade financial securities, commodities, forex and other fungible items of value at low transaction costs and at prices that reflect supply and demand.
    Train to Trade is a great place to start your journey in forex trading.Building a strong foundation as a Forex trader is the key to long-term success. After all, you have to learn how to crawl before you can walk. Train to Trade is global financial training company aimed bridging the gap between traders and brokers (market makers). We train people on how to trade online on the forex and stock market from beginner’s stage to the advanced level. As a trainer we also link our clients with reputable brokers who will help you in achieving your financial freedom.
</p>
        <h2><span style="font-family: Spoiler; font-size: 30px;">Our Mission</span></h2>

        <p>
            Changing individuals’ lives and communities through informed profitable trading at affordable prices.
        </p>

        <h2><span style="font-family: Spoiler; font-size: 30px;">Our Vision</span></h2>
        <p>
            Our vision is to excel in what we do and be above the rest in offering our clients with exceptional training service.
            To be the largest global forex and stock training firm.
        </p>


        <h2><span style="font-family: Spoiler; font-size: 30px;">Core Values</span></h2>
        <p>
            We see our success linked to our ability to deliver certainty through consistent performance. We see our future shaped by all that has made us successful in the past.
            <br />

            We subscribe to the following corporate values:
            <br />
            <ul>
                <li>Integrity</li>
                <li>Innovation</li>
                <li>Excellence</li>
                <li>Equity</li>
                <li>Corporate citizenship</li>
            </ul>
            <br />
            We do our business in an atmosphere of mutual respect, organized collaboration, and honest. We strive for excellence!

        </p>
