
@{
    ViewBag.Title = "Courses";
}

<h2>Forex Market courses</h2>

<p>
    If you don't like gambling with your money and you want to take the risk out of the forex market to build sustainable long term wealth, then look no further! You will learn proven techniques and strategies that will give you the confidence to safely and profitably trade the  forex market.
</p>

<h3>Understanding the markets</h3>
<p>Presented in a simple and effective manner that delivers results, the Short Course in forex Trading demystifies the forex market. This introductory course will give you an insight on trading, trading tips and trading terms. We teach you trading techniques  and strategies you can use immediately, thus enabling you to take control of your financial future.
    Designed and taught by investment professionals with over 30 years combined experience in the  forex and stock market, every strategy has been tested and refined over many years to ensure your success is guaranteed.
</p>

<h2>Course content</h2>
<h3>What is forex trading?</h3>

<p>
    Trading terms
    What to trade and where to trade
    Fundamental analysis
    Technical analysis
</p>

<p>
    <ul>
        <li><h4>Advanced trading strategies courses</h4></li>
    <p>
    <h5>Take your trading to new heights</h5>
    <p>
        Course will support you in mastering the advanced techniques required to fine tune your trading to achieve even greater profits.
        For those seeking a professional approach to trading that supports you to achieve your financial goals, we guarantee you the highest quality education today at Train to trade.
        Course content
    </p>
</p>

<li><h4>Apply Elliott Wave Strategies to forex Trading</h4></li>
        <p>
            <ol>
                <li>Understand how Elliott wave unfolds in both a bull and bear market</li>
                <li>Trading rules applicable to each Elliott wave</li>
                <li>The law of alternation</li>
                <li>Calculate the length of each wave as it unfolds</li>
                <li>Strategies for applying Elliott Wave Theory</li>
                <li>Combining Elliott Wave Theory with price and pattern.</li>
            </ol>
        </p>

<li><h4>Apply the Fibonacci Principle  Strategy to forex Trading.</h4></li>
<li><h4>Naked trading strategy</h4></li>
<li><h4>Manage the Psychology of Share Trading</h4></li>
        <p>
            Achieving peak performance
            Goal setting
            Understanding the stages of learning
            Common psychological factors affecting traders
            Learning about your psychological makeup
            Establishing your trading environment
            Combining the emotions of trading with a mechanical trading system
        </p>
<li><h4>Understanding fundamental analysis</h4></li>
    </ul>
</p>
